MANIFEST

*.pbc
*.c
*.o
*.obj
*.exe
*.iss
*.swp
.DS_Store
cardinal
installable_cardinal
report/

*.tar.gz
*.zip
*.patch

Test.pir
src/gen_*.pir
src/*/gen_*.pir
build.yaml
t/*/gen_*.pir
t/gen_*.pir
*.*~

ctags_opt
tags
